<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mgmt.construction.constructionmgmt">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Classes.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BRICKS AND BLOCKS"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.LoginActivity"
            android:label="BRICKS AND BLOCKS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.CurrentStatusActivity" />
        <activity android:name=".Activity.AddTaskActivity" />
        <activity android:name=".Activity.EconomicOrderQuantityActivity" />
        <activity android:name=".Activity.NonInstantEOQActivity" />
        <activity android:name=".Activity.TaskListActivity" />
        <activity android:name=".Activity.OrdersListActivity" />
        <activity
            android:name=".Activity.CalendarViewActivity"
            android:label="@string/title_activity_calendar_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PasswordChangeActivity"
            android:label="@string/title_activity_password_change"></activity>
    </application>

</manifest>
